{% extends 'base.html' %}
{% block title %}<title>Foto qalereya | {{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style/lightbox.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
{% endblock %}



{% block content %}

    <div class="activity">
        <div class="container">
            <div class="activity__content">
                <div class="activity__title">
                    <img src="{% static 'img/foto_title.png' %}" alt="title">
                </div>
                <div class="container">
                    <div class="photo__main gallery">
                        {% for photo in page_obj %}
                        <a href="{{ photo.image.url }}" data-lightbox="models" data-title="{{ photo.title }}">
                            <div class="photo__block myBtn ">
                                <img src="{{ photo.image.url }}" class="img-slider" alt="{{ photo.title }}" style={width:"500px";}>
                            </div>
                        </a>
                        {% empty %}
                        <p style="text-align:center">Şəkil yoxdur!</p>
                        {% endfor %}
                        
                    </div>
                </div>
                
                <div class="navigation">
                    <div class="navigation__bar">
                        {% if page_obj.has_previous %}
                        <div class="navigation__number">
                            <a href="?page={{ page_obj.previous_page_number }}" style="width:100%;"><i class="fa-solid fa-chevron-left"></i></a>
                        </div>
                        {% else %}
                        <div class="navigation__number">
                            <span style="width:100%;"><i class="fa-solid fa-chevron-left"></i></span>
                        </div>
                        {% endif %}
            
                        {% if page_obj.number > 1 %}
                        <div class="navigation__number">
                            <a href="?page=1">1</a>
                        </div>
                        {% if page_obj.number > 2 %}
                        {% if page_obj.number > 3 %}
                        <div class="navigation__number">
                            <span>...</span>
                        </div>
                        {% endif %}
                        <div class="navigation__number">
                            <a href="?page={{ page_obj.number | add:'-1' }}">{{ page_obj.number | add:'-1' }}</a>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="navigation__number navigation__active">
                            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                        </div>
            
                        {% if page_obj.number < page_obj.paginator.num_pages %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
                        <div class="navigation__number">
                            <a href="?page={{ page_obj.number|add:'1'}}">{{ page_obj.number|add:'1' }}</a>
                        </div>
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                        <div class="navigation__number">
                            <span>...</span>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="navigation__number">
                            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </div>
                        {% endif %}
                    
                        {% if page_obj.has_next %}
                        <div class="navigation__number">
                            <a href="?page={{ page_obj.next_page_number }}" style="width:100%;"><i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        {% else %}
                        <div class="navigation__number">
                            <span style="width:100%;"><i class="fa-solid fa-chevron-right"></i></span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock %}

{% block javascript %}

<script src="{% static 'scripts/lightbox-plus-jquery.min.js' %}">
</script>
<script>
    console.log(document.getElementsByClassName('lb-image').style.width);
</script>

{% endblock %}