{% extends 'base.html' %}
{% block title %}<title>İdarə heyəti | {{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}
{% load static %}

{% block content %}

<div class="activity">
    <div class="container">
        <div class="activity__content">
            <div class="activity__title">
                <img src="{% static 'img/idareheyeti_title.png' %}" alt="title">
            </div>
            <div class="management">
                {% for director in directors %}
                <div class="management__person">
                    <div class="management__person-img">
                        {% if director.image %}
                        <img src="{{ director.image.url }}" alt="management">
                        {% endif %}
                    </div>
                    <div class="management__person-desc">
                        <h2 class="management__person-name">
                            {{ director.name }} {{ director.surname }} {{ director.fathername }}
                        </h2>
                        <p class="management__person-p">{{ director.position }}</p>
                        <p class="management__person-position"> {{ director.start_date }} tarixindən etibarən XYZ in İdarə heyətinin sədri vəzifəsində çalışır.  </p>
                        <div class="management__person-about">
                            <button>Ətraflı</button>
                            <button>Əlaqə</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}