{% extends 'base.html' %}
{% block title %}<title>{{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ pagesettings.description }}">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ pagesettings.keywords }}">{% endblock %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'style/pages/idare.css' %}">{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <div class="page_title">
                <h1>İdarə heyyəti</h1>
                <div class="title_indicator">
                    <span class="indicator blue_color"></span>
                    <span class="indicator red_color"></span>
                    <span class="indicator green_color"></span>
                </div>
            </div>

            <div class="teams">
                
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>

                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>
                <div class="team_member">
                    <div class="image_area">
                        <img src="{% static 'img/news6.png' %}" alt="">
                    </div>
                    <div class="detail_info">
                        <h4 class="member_name">Ad Soyad</h4>
                        <div class="social_media">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="more">
                        <a href="">Daha ətraflı <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}