{% extends 'base.html' %}
{% block title %}<title>{{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="{{ pagesettings.description }}">{% endblock %}
{% block keywords %}<meta name="keywords" content="{{ pagesettings.keywords }}">{% endblock %}
{% load static %}

{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro__content">
            <div class="intro__gallery">
                <div class="intro__gallery-main">
                    <img class="f-image" src="{{ firstnews.image.url }}" alt="{{ firstnews.title }}">
                    <div class="intro__gallery-title">
                        <div class="intro__gallery-back"></div>
                        <div class="f-id" style="display:none;">{{ firstnews.id }}</div>
                        <p class="f-content">{{ firstnews.content | safe | truncatechars_html:200 }}</p>
                        <a href="{% url 'gtib:newsdetail' firstnews.get_typename firstnews.slug %}" class="f-link intro__gallery-link">Ətraflı...</a>
                    </div>
                </div>
                <div class="intro__gallery-sub">
                    {% for news in allnews %}
                    <div style="display:none;">{{ news.id }}</div>
                    <img src="{{ news.image.url }}" class="thisimg" alt="{{ news.title }}">
                    {% endfor %}
                </div>
            </div>
            <div class="intro__ad">
                <div class="intro__ad-decor">
                    <img src="{% static 'img/ad__decor.png' %}" alt="decoration">
                </div>
                <div class="intro__ad-title">
                    <img src="{% static 'img/elan__title.png' %}" alt="title">
                </div>
                <div class="intro__ad-info">
                    <img src="{{ events.first.image.url }}" alt="{{ events.first.title }}">
                    <div class="intro__ad-about">
                        <p>Tarix: {{ events.first.date | date:"d.m.Y" }}</p>
                        <br>
                        <p>Saat: {{ events.first.time | date:"H:i"}}</p>
                        <br>
                        <p>Ünvan: {{ events.first.address }}</p>
                    </div>
                </div>
                <div class="intro__ad-desc">
                    <span>{{ events.first.content | safe | truncatechars_html:100}}</span>
                </div>
                <a href="" class="intro__ad-more">Ətraflı...</a>
            </div>
        </div>
    </div>
</div>

<div class="news">
    <div class="container">
        <div class="news__content">
            <div class="news__blogs">
                <div class="news__subsection">
                    <div class="news__title">
                        <img src="{% static 'img/news__title1.png' %}" alt="title"> <a href="{% url 'gtib:projects' %}">/ Hamısını göstər</a>
                    </div>
                    <div class="news__flex">
                        {% for news in projects_and_events_news %}
                        <div class="news__item">
                            <img src="{{ news.image.url }}" alt="{{ news.title }}">
                            <p><a href="{% url 'gtib:newsdetail' news.get_typename news.slug %}" class="a">{{ news.title }}</a></p>
                            <p>{{ news.pub_date | date:"d F Y"}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr style="margin-bottom: 50px;">
                <div class="news__subsection">
                    <div class="news__title">
                        <img src="{% static 'img/news__title2.png' %}" alt="title"> <a href="{% url 'gtib:youngsandsport' %}">/ Hamısını göstər</a>
                    </div>
                    <div class="news__flex">
                        {% for news in youngs_and_sport_news %}
                        <div class="news__item">
                            <img src="{{ news.image.url }}" alt="{{ news.title }}">
                            <p><a href="{% url 'gtib:newsdetail' news.get_typename news.slug %}" class="a">{{ news.title }}</a></p>
                            <p>{{ news.pub_date | date:"d F Y" }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="news__ads">
                <div class="news__title">
                    <img src="{% static 'img/news__title3.png' %}" alt="title"> <a href="{% url 'gtib:anouncements' %}"> Hamısını göstər</a>
                </div>
                <div class="news__ads-flex">
                    {% for news in announcement_news %}
                    <div class="news__ads-item">
                        <div class="news__ads-info">
                            <div>
                                <h2>{{ news.title }}</h2>
                                <p>{{ news.pub_date | date:"d F Y" }}</p>
                            </div>
                            <img src="{{ news.image.url }}" alt="news ads">
                        </div>
                        <span class="news__ads-desc">
                            {{ news.content | safe | truncatechars_html:200 }}
                        </span>
                        <a href="{% url 'gtib:newsdetail' news.get_typename news.slug %}" class="intro__ad-more">Ətraflı...</a>
                    </div>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media">
    <div class="container">
        <div class="media__content">
            <div class="news__title">
                <img src="{% static 'img/news__title4.png' %}" alt="title">
            </div>
            <div class="media__blogs">
                {% for news in in_media_news %}
                <div class="media__blogs-item">
                    <img src="{{ news.image.url }}" alt="{{ news.title }}">
                    <div class="media__blogs-info">
                        <h2>{{ news.title }}</h2>
                        <a href="{% url 'gtib:newsdetail' news.get_typename news.slug %}" class="intro__ad-more">Ətraflı...</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="survey">
    <div class="survey__back">
        <div class="container">
            <div class="survey__content">
                <form class="survey__form" method="POST">
                    {% csrf_token %}
                    <h2 class="survey__title">Sorğumuzda İştirak edin</h2>
                    <h3 class="survey__subtitle">{{ quiz.first.quiz }}</h3>
                    <input type="hidden" name="choice" value="quiz">
                    {% for choice in quiz.first.formchoices.all %}
                    <label><input type="radio" name="sorgu" value="{{ choice.id }}"> {{ choice.choice }}</label>
                    {% endfor %}
                    <button type="submit">Səs Ver</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="faq">
    <div class="container">
        <div class="faq__content">
            <div class="news__title">
                <img src="{% static 'img/news__title5.png' %}" alt="title">
            </div>
            {% for faq in faqs %}
            <div class="faq__item">
                <h2>{{ faq.question }} <i class="fa-solid fa-chevron-up"></i></h2>
                <div class="faq__panel">
                    {{ faq.answer }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="partners__content">
            {% for partner in partners %}
            <div class="partners__block">
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                <p>{{ partner.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 


{% endblock %}

{% block javascript %}
<script>

$(".thisimg").on("click", function(){
    thisimg = $(this);
    newsid = $(this).prev();
    id = $(".f-id");
    image = $(".f-image");
    content = $(".f-content");
    link = $(".f-link");
    $.ajax({
        type: "GET",
        data: {
            q: newsid.html(),
        },
        success: function(data){
            imagesrc = image.attr("src");
            previd = id.html()

            id.text(newsid.html());
            image.attr("src", data.image);
            content.html(data.content);
            link.attr("href", `/${data.typename}/${data.slug}/`);

            thisimg.attr("src", imagesrc);
            newsid.html(previd);
        },
    });
});

</script>
{% endblock %}