{% extends 'base.html' %}
{% block title %}<title>Nəşrlərimiz | {{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}
{% load static %}

{% block content %}

<div class="container-azerbaijan">
    <div class="title title-azerbaycan">
        <div>
            Nəşrlərimiz
        </div>
        <div class="underlined">
            <div class="blue"></div>
            <div class="red"></div>
            <div class="green"></div>
        </div>
    </div>
    <div class="neshirler-container">
        {% for print in page_obj %}
        <div class="neshr-container">
            <div class="neshr-container-left">
                <div class="neshr-title">
                    <a href="{% url 'gtib:newsdetail' print.get_typename print.slug %}">{{ print.title | safe }}</a></div>
                <div class="neshr-text">
                    {{ print.content | safe | truncatechars_html:200 }}
                </div>
                <div class="neshr-data">
                    <img class="neshr-icon" src="{% static 'img/neshirlermiz/icon.svg' %}" alt="">
                    {{ print.pub_date | date:'d M Y' }}
                </div>
            </div>
            <img class="neshr-img" src="{{ print.image.url }}" alt="{{ print.title }}">
        </div>
        <hr>
        {% endfor %}


    </div>


    <div class="navigation">
        <div class="navigation__bar">
            {% if page_obj.has_previous %}
            <div class="navigation__number">
                <a href="?page={{ page_obj.previous_page_number }}" style="width:100%;"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
            {% else %}
            <div class="navigation__number">
                <span style="width:100%;"><i class="fa-solid fa-chevron-left"></i></span>
            </div>
            {% endif %}

            {% if page_obj.number > 1 %}
            <div class="navigation__number">
                <a href="?page=1">1</a>
            </div>
            {% if page_obj.number > 2 %}
            {% if page_obj.number > 3 %}
            <div class="navigation__number">
                <span>...</span>
            </div>
            {% endif %}
            <div class="navigation__number">
                <a href="?page={{ page_obj.number | add:'-1' }}">{{ page_obj.number | add:'-1' }}</a>
            </div>
            {% endif %}
            {% endif %}
            <div class="navigation__number navigation__active">
                <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </div>

            {% if page_obj.number < page_obj.paginator.num_pages %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
            <div class="navigation__number">
                <a href="?page={{ page_obj.number|add:'1'}}">{{ page_obj.number|add:'1' }}</a>
            </div>
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <div class="navigation__number">
                <span>...</span>
            </div>
            {% endif %}
            {% endif %}
            <div class="navigation__number">
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </div>
            {% endif %}
        
            {% if page_obj.has_next %}
            <div class="navigation__number">
                <a href="?page={{ page_obj.next_page_number }}" style="width:100%;"><i class="fa-solid fa-chevron-right"></i></a>
            </div>
            {% else %}
            <div class="navigation__number">
                <span style="width:100%;"><i class="fa-solid fa-chevron-right"></i></span>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}