{% extends 'base.html' %}
{% block title %}<title>Turizm | {{ pagesettings.title }}</title>{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}
{% load static %}


{% block content %}


    <div class="container-azerbaijan">
        <div class="title title-azerbaycan">
            <div>
                Turizim
            </div>
            <div class="underlined">
                <div class="blue"></div>
                <div class="red"></div>
                <div class="green"></div>
            </div>
        </div>
        {{ pagesettings.tourism | safe }}
        <div class="navigation">
            <div class="navigation__bar">
                <div class="navigation__number">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="navigation__number navigation__active">
                    <a href="#">1</a>
                </div>
                <div class="navigation__number">
                    <a href="#">2</a>
                </div>
                <div class="navigation__number">
                    <a href="#">3</a>
                </div>
                <div class="navigation__number">
                    <a href="#">4</a>
                </div>
                <div class="navigation__number">
                    <a href="#">5</a>
                </div>
                <div class="navigation__number">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>


{% endblock %}